In [ ]:
#En este archivo voy a proceder a limpiar y corregir los datos, así como de añadir nuevos que aporten valor al análisis.

In [1]:
from pymongo import MongoClient
from dotenv import load_dotenv
import pandas as pd
import os

In [2]:
load_dotenv()
username=os.getenv("MONGO_USER")
password=os.getenv("MONGO_PASS")

In [3]:
url = f"mongodb+srv://{username}:{password}@cluster0.gnfmn.mongodb.net"

In [4]:
client = MongoClient(url)

In [5]:
db = client.get_database("Covid")

In [6]:
covid_cases = db["Covid_Cases"]

In [7]:
data = pd.DataFrame(covid_cases.find({}))

In [43]:
data.head()

,_id,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
0,61c9dcc250d5b7208c17eaf7,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,61c9dcc250d5b7208c17eaf8,Albania,41.1533,20.1683,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,61c9dcc250d5b7208c17eaf9,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,61c9dcc250d5b7208c17eafa,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,61c9dcc250d5b7208c17eafb,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
#250 countries
data.shape

(274, 449)

In [10]:
#No hay duplicados
data.duplicated().sum()

0

In [11]:
data.isna().sum()

_id                 0
Country/Region      0
Lat                 1
Long                1
1/22/20             0
                 ...
4/7/21              0
4/8/21              0
4/9/21              0
4/10/21             0
Province/State    189
Length: 450, dtype: int64

In [12]:
#Comprobamos que casi el 70% de los valores de Province/State son nulos por tanto los voy a eliminar porque tampoco aportan
#información valiosa al estudio por paises
(data.isna().sum()/data.shape[0])*100

_id                0.000000
Country/Region     0.000000
Lat                0.364964
Long               0.364964
1/22/20            0.000000
                    ...
4/7/21             0.000000
4/8/21             0.000000
4/9/21             0.000000
4/10/21            0.000000
Province/State    68.978102
Length: 450, dtype: float64

In [13]:
data = data.drop(columns=["Province/State"])

In [14]:
#A lo hora de hacer calculos interesa que los valores de contagios sean numeros y no strings por tanto hay que cambiar el type
data.dtypes

_id               object
Country/Region    object
Lat               object
Long              object
1/22/20           object
                   ...
4/6/21            object
4/7/21            object
4/8/21            object
4/9/21            object
4/10/21           object
Length: 449, dtype: object

In [15]:
data.columns

Index(['_id', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20',
       ...
       '4/1/21', '4/2/21', '4/3/21', '4/4/21', '4/5/21', '4/6/21', '4/7/21',
       '4/8/21', '4/9/21', '4/10/21'],
      dtype='object', length=449)

In [64]:
data.iloc[:,4]

0      0
1      0
2      0
3      0
4      0
      ..
269    0
270    0
271    0
272    0
273    0
Name: 1/22/20, Length: 274, dtype: object

In [16]:
for i in range(4,449):
    data.iloc[:,i] = data.iloc[:,4].apply(pd.to_numeric)

In [17]:
data.dtypes

_id               object
Country/Region    object
Lat               object
Long              object
1/22/20            int64
                   ...
4/6/21             int64
4/7/21             int64
4/8/21             int64
4/9/21             int64
4/10/21            int64
Length: 449, dtype: object

In [31]:
# Como hay varios países repetidos, deberíamos agrupar los valores de casos para tener solo una fila por país. Hay siete países
#con más de dos filas
(data["Country/Region"].value_counts() > 1).sum()

7

In [46]:
data["Country/Region"].value_counts().iloc[:7]

China             33
Canada            16
France            12
United Kingdom    12
Australia          8
Netherlands        5
Denmark            3
Name: Country/Region, dtype: int64

In [49]:
# Los países repetidos son China, Canada, France, United Kingdom, Australia, Netherlands and Denmark.
data.head()

,_id,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
0,61c9dcc250d5b7208c17eaf7,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,61c9dcc250d5b7208c17eaf8,Albania,41.1533,20.1683,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,61c9dcc250d5b7208c17eaf9,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,61c9dcc250d5b7208c17eafa,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,61c9dcc250d5b7208c17eafb,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
columnas = ["China", "Canada", "France", "United Kingdom", "Australia", "Netherlands", "Denmark"]

In [55]:
data.loc[data["Country/Region"] == "China"].index

Int64Index([58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74,
            75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90],
           dtype='int64')

In [62]:
for i in range(4,data.shape[1]):

SyntaxError: invalid syntax (147649987.py, line 1)