In [ ]:
#En este archivo voy a proceder a limpiar y corregir los datos, así como de añadir nuevos que aporten valor al análisis.

In [1]:
from pymongo import MongoClient
from dotenv import load_dotenv
import pandas as pd
import os

In [2]:
load_dotenv()
username=os.getenv("MONGO_USER")
password=os.getenv("MONGO_PASS")

In [3]:
url = f"mongodb+srv://{username}:{password}@cluster0.gnfmn.mongodb.net"

In [4]:
client = MongoClient(url)

In [21]:
db = client.get_database("Covid")

In [22]:
covid_cases = db["Covid_Cases"]

In [23]:
data = pd.DataFrame(covid_cases.find({}))

In [32]:
data.head()

,_id,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
0,61c9dcc250d5b7208c17eaf7,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,56517,56572,56595,56676,56717,56779,56873,56943,57019,57144
1,61c9dcc250d5b7208c17eaf8,Albania,41.1533,20.1683,0,0,0,0,0,0,...,125506,125842,126183,126531,126795,126936,127192,127509,127795,128155
2,61c9dcc250d5b7208c17eaf9,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,117304,117429,117524,117622,117739,117879,118004,118116,118251,118378
3,61c9dcc250d5b7208c17eafa,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,12053,12115,12174,12231,12286,12328,12363,12409,12456,12497
4,61c9dcc250d5b7208c17eafb,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,22399,22467,22579,22631,22717,22885,23010,23108,23242,23331

In [34]:
#250 countries
data.shape

(274, 449)

In [10]:
#No hay duplicados
data.duplicated().sum()

0

In [11]:
data.isna().sum()

_id                 0
Country/Region      0
Lat                 1
Long                1
1/22/20             0
                 ...
4/7/21              0
4/8/21              0
4/9/21              0
4/10/21             0
Province/State    189
Length: 450, dtype: int64

In [12]:
#Comprobamos que casi el 70% de los valores de Province/State son nulos por tanto los voy a eliminar porque tampoco aportan
#información valiosa al estudio por paises
(data.isna().sum()/data.shape[0])*100

_id                0.000000
Country/Region     0.000000
Lat                0.364964
Long               0.364964
1/22/20            0.000000
                    ...
4/7/21             0.000000
4/8/21             0.000000
4/9/21             0.000000
4/10/21            0.000000
Province/State    68.978102
Length: 450, dtype: float64

In [25]:
data = data.drop(columns=["Province/State"])

In [35]:
#La columna id tampoco es necesaria asi que la elimino también
data = data.drop(columns=["_id"])

In [14]:
#A lo hora de hacer calculos interesa que los valores de contagios sean numeros y no strings por tanto hay que cambiar el type
data.dtypes

_id               object
Country/Region    object
Lat               object
Long              object
1/22/20           object
                   ...
4/6/21            object
4/7/21            object
4/8/21            object
4/9/21            object
4/10/21           object
Length: 449, dtype: object

In [15]:
data.columns

Index(['_id', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20',
       ...
       '4/1/21', '4/2/21', '4/3/21', '4/4/21', '4/5/21', '4/6/21', '4/7/21',
       '4/8/21', '4/9/21', '4/10/21'],
      dtype='object', length=449)

In [64]:
data.iloc[:,4]

0      0
1      0
2      0
3      0
4      0
      ..
269    0
270    0
271    0
272    0
273    0
Name: 1/22/20, Length: 274, dtype: object

In [27]:
for i in range(4,449):
    data.iloc[:,i] = data.iloc[:,i].apply(pd.to_numeric)

In [33]:
data.dtypes

_id               object
Country/Region    object
Lat               object
Long              object
1/22/20            int64
                   ...
4/6/21             int64
4/7/21             int64
4/8/21             int64
4/9/21             int64
4/10/21            int64
Length: 449, dtype: object

In [31]:
# Como hay varios países repetidos, deberíamos agrupar los valores de casos para tener solo una fila por país. Hay siete países
#con más de dos filas
(data["Country/Region"].value_counts() > 1).sum()

7

In [46]:
data["Country/Region"].value_counts().iloc[:7]

China             33
Canada            16
France            12
United Kingdom    12
Australia          8
Netherlands        5
Denmark            3
Name: Country/Region, dtype: int64

In [146]:
# Los países repetidos son China, Canada, France, United Kingdom, Australia, Netherlands and Denmark.
data.head()

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
0,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,0,...,56517,56572,56595,56676,56717,56779,56873,56943,57019,57144
1,Albania,41.1533,20.1683,0,0,0,0,0,0,0,...,125506,125842,126183,126531,126795,126936,127192,127509,127795,128155
2,Algeria,28.0339,1.6596,0,0,0,0,0,0,0,...,117304,117429,117524,117622,117739,117879,118004,118116,118251,118378
3,Andorra,42.5063,1.5218,0,0,0,0,0,0,0,...,12053,12115,12174,12231,12286,12328,12363,12409,12456,12497
4,Angola,-11.2027,17.8739,0,0,0,0,0,0,0,...,22399,22467,22579,22631,22717,22885,23010,23108,23242,23331

In [50]:
columnas = ["China", "Canada", "France", "United Kingdom", "Australia", "Netherlands", "Denmark"]

In [110]:
data.loc[data["Country/Region"] == "Denmark"]

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
101,Denmark,61.8926,-6.9118,0,0,0,0,0,0,0,...,661,661,661,661,661,661,661,661,661,661
102,Denmark,71.7069,-42.6043,0,0,0,0,0,0,0,...,31,31,31,31,31,31,31,31,31,31
103,Denmark,56.2639,9.5018,0,0,0,0,0,0,0,...,231265,231973,232718,233318,233797,234317,234931,235648,236346,237101

In [100]:
data.loc[data["Country/Region"] == "Denmark"].iloc[:,447].sum()

237793

In [91]:
data.loc[data["Country/Region"] == "Denmark"].iloc[0:1,3]

101    0
Name: 1/22/20, dtype: int64

In [79]:
data.loc[data["Country/Region"] == "Denmark"].iloc[:,3]

101    0
102    0
103    0
Name: 1/22/20, dtype: int64

In [101]:
for i in range(3,448):
    data.loc[data["Country/Region"] == "Denmark"].iloc[0:1,i]=data.loc[data["Country/Region"] == "Denmark"].iloc[:,i].sum()

/home/borja/miniconda3/envs/mid_project/lib/python3.9/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [ ]:
#Denmark 61.8926 -6.9118
#Netherlands 12.5211 -69.9683
#Australia -35.4735 149.0124
#United Kingdom 18.2206 -63.0686
#France 46.2276 2.2137
#Canada 51.2538 -85.3232
#China 30.9756 112.2707

In [111]:
dinamarca = data.loc[data["Country/Region"] == "Denmark"].groupby("Country/Region").sum()

In [176]:
# Aqui agrupo las filas por pais y cada columna con los casos totales
data_cleanish = data.groupby("Country/Region",as_index=False).sum()

In [177]:
data_cleanish.loc[data_cleanish["Country/Region"] == "Denmark"]

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
47,Denmark,0,0,0,0,0,0,0,0,0,...,231957,232665,233410,234010,234489,235009,235623,236340,237038,237793

In [178]:
data_aux = data

In [179]:
data_aux

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
0,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,0,...,56517,56572,56595,56676,56717,56779,56873,56943,57019,57144
1,Albania,41.1533,20.1683,0,0,0,0,0,0,0,...,125506,125842,126183,126531,126795,126936,127192,127509,127795,128155
2,Algeria,28.0339,1.6596,0,0,0,0,0,0,0,...,117304,117429,117524,117622,117739,117879,118004,118116,118251,118378
3,Andorra,42.5063,1.5218,0,0,0,0,0,0,0,...,12053,12115,12174,12231,12286,12328,12363,12409,12456,12497
4,Angola,-11.2027,17.8739,0,0,0,0,0,0,0,...,22399,22467,22579,22631,22717,22885,23010,23108,23242,23331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,Vietnam,14.058324,108.277199,0,2,2,2,2,2,2,...,2617,2620,2626,2631,2637,2648,2659,2668,2683,2692
270,West Bank and Gaza,31.9522,35.2332,0,0,0,0,0,0,0,...,244645,246893,248482,251288,253922,256461,259133,262017,264395,265897
271,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,4531,4620,4697,4798,4881,4975,5047,5133,5233,5276
272,Zambia,-13.133897,27.849332,0,0,0,0,0,0,0,...,88549,88730,88800,88930,89009,89071,89386,89592,89783,89918
273,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,0,...,36896,36903,36911,36923,36934,36966,36984,37052,37147,37273

In [190]:
data_aux.loc[data_aux["Country/Region"] == "Australia"]

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
14,Australia,-37.8136,144.9631,0,0,0,0,1,1,1,...,20484,20484,20484,20484,20484,20484,20484,20484,20485,20485

In [180]:
#Para las lat y lon, voy a eliminar las filas extra de cada país y me voy a quedar con las coordenadas donde mas casos haya.
#United Kingdom
for i in range(253,264):
    data_aux = data_aux.drop(index=i)

In [181]:
#Netherlands
for i in range(191,195):
    data_aux = data_aux.drop(index=i)

In [182]:
#France
for i in range(118,129):
    data_aux = data_aux.drop(index=i)

In [183]:
#Denmark
for i in range(101,103):
    data_aux = data_aux.drop(index=i)

In [184]:
#China 1
for i in range(58,71):
    data_aux = data_aux.drop(index=i)

In [185]:
#China 2
for i in range(72,91):
    data_aux = data_aux.drop(index=i)

In [186]:
#Canada 1
for i in range(39,49):
    data_aux = data_aux.drop(index=i)

In [187]:
#Canada 2
for i in range(50,55):
    data_aux = data_aux.drop(index=i)

In [188]:
#Australia 1
for i in range(8,14):
    data_aux = data_aux.drop(index=i)

In [189]:
#Australia 2
data_aux = data_aux.drop(index=15)

In [193]:
data_aux = data_aux.reset_index(drop=True)

In [192]:
data_cleanish

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,56517,56572,56595,56676,56717,56779,56873,56943,57019,57144
1,Albania,0,0,0,0,0,0,0,0,0,...,125506,125842,126183,126531,126795,126936,127192,127509,127795,128155
2,Algeria,0,0,0,0,0,0,0,0,0,...,117304,117429,117524,117622,117739,117879,118004,118116,118251,118378
3,Andorra,0,0,0,0,0,0,0,0,0,...,12053,12115,12174,12231,12286,12328,12363,12409,12456,12497
4,Angola,0,0,0,0,0,0,0,0,0,...,22399,22467,22579,22631,22717,22885,23010,23108,23242,23331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Vietnam,0,2,2,2,2,2,2,2,2,...,2617,2620,2626,2631,2637,2648,2659,2668,2683,2692
188,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,244645,246893,248482,251288,253922,256461,259133,262017,264395,265897
189,Yemen,0,0,0,0,0,0,0,0,0,...,4531,4620,4697,4798,4881,4975,5047,5133,5233,5276
190,Zambia,0,0,0,0,0,0,0,0,0,...,88549,88730,88800,88930,89009,89071,89386,89592,89783,89918
191,Zimbabwe,0,0,0,0,0,0,0,0,0,...,36896,36903,36911,36923,36934,36966,36984,37052,37147,37273

In [194]:
#Ahora añado lat y lon de data_aux a data_cleanish
data_cleanish["Lat"] = data_aux["Lat"]
data_cleanish["Long"] = data_aux["Long"]

In [195]:
data_cleanish

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21,Lat,Long
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,56595,56676,56717,56779,56873,56943,57019,57144,33.93911,67.709953
1,Albania,0,0,0,0,0,0,0,0,0,...,126183,126531,126795,126936,127192,127509,127795,128155,41.1533,20.1683
2,Algeria,0,0,0,0,0,0,0,0,0,...,117524,117622,117739,117879,118004,118116,118251,118378,28.0339,1.6596
3,Andorra,0,0,0,0,0,0,0,0,0,...,12174,12231,12286,12328,12363,12409,12456,12497,42.5063,1.5218
4,Angola,0,0,0,0,0,0,0,0,0,...,22579,22631,22717,22885,23010,23108,23242,23331,-11.2027,17.8739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Vietnam,0,2,2,2,2,2,2,2,2,...,2626,2631,2637,2648,2659,2668,2683,2692,14.058324,108.277199
188,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,248482,251288,253922,256461,259133,262017,264395,265897,31.9522,35.2332
189,Yemen,0,0,0,0,0,0,0,0,0,...,4697,4798,4881,4975,5047,5133,5233,5276,15.552727,48.516388
190,Zambia,0,0,0,0,0,0,0,0,0,...,88800,88930,89009,89071,89386,89592,89783,89918,-13.133897,27.849332
191,Zimbabwe,0,0,0,0,0,0,0,0,0,...,36911,36923,36934,36966,36984,37052,37147,37273,-19.015438,29.154857

In [ ]:
lat_column = data_cleanish.pop("Lat")
long_column = data_cleanish.pop("Long")

In [200]:
data_cleanish.insert(1, "Lat", lat_column)
data_cleanish.insert(2, "Long", long_column)

In [201]:
data_cleanish

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
0,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,0,...,56517,56572,56595,56676,56717,56779,56873,56943,57019,57144
1,Albania,41.1533,20.1683,0,0,0,0,0,0,0,...,125506,125842,126183,126531,126795,126936,127192,127509,127795,128155
2,Algeria,28.0339,1.6596,0,0,0,0,0,0,0,...,117304,117429,117524,117622,117739,117879,118004,118116,118251,118378
3,Andorra,42.5063,1.5218,0,0,0,0,0,0,0,...,12053,12115,12174,12231,12286,12328,12363,12409,12456,12497
4,Angola,-11.2027,17.8739,0,0,0,0,0,0,0,...,22399,22467,22579,22631,22717,22885,23010,23108,23242,23331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Vietnam,14.058324,108.277199,0,2,2,2,2,2,2,...,2617,2620,2626,2631,2637,2648,2659,2668,2683,2692
188,West Bank and Gaza,31.9522,35.2332,0,0,0,0,0,0,0,...,244645,246893,248482,251288,253922,256461,259133,262017,264395,265897
189,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,4531,4620,4697,4798,4881,4975,5047,5133,5233,5276
190,Zambia,-13.133897,27.849332,0,0,0,0,0,0,0,...,88549,88730,88800,88930,89009,89071,89386,89592,89783,89918
191,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,0,...,36896,36903,36911,36923,36934,36966,36984,37052,37147,37273