In [ ]:
#En este archivo voy a proceder a limpiar y corregir los datos, así como de añadir nuevos que aporten valor al análisis.

In [1]:
from pymongo import MongoClient
from dotenv import load_dotenv
import pandas as pd
import os

In [2]:
load_dotenv()
username=os.getenv("MONGO_USER")
password=os.getenv("MONGO_PASS")

In [3]:
url = f"mongodb+srv://{username}:{password}@cluster0.gnfmn.mongodb.net"

In [4]:
client = MongoClient(url)

In [5]:
db = client.get_database("Covid")

In [6]:
covid_cases = db["Covid_Cases"]

In [47]:
data = pd.DataFrame(covid_cases.find({}))

In [48]:
data.head()

,_id,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21,Province/State
0,61c9dcc250d5b7208c17eaf7,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,56572,56595,56676,56717,56779,56873,56943,57019,57144,NaN
1,61c9dcc250d5b7208c17eaf8,Albania,41.1533,20.1683,0,0,0,0,0,0,...,125842,126183,126531,126795,126936,127192,127509,127795,128155,NaN
2,61c9dcc250d5b7208c17eaf9,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,117429,117524,117622,117739,117879,118004,118116,118251,118378,NaN
3,61c9dcc250d5b7208c17eafa,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,12115,12174,12231,12286,12328,12363,12409,12456,12497,NaN
4,61c9dcc250d5b7208c17eafb,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,22467,22579,22631,22717,22885,23010,23108,23242,23331,NaN

In [26]:
#250 countries
data.shape

(274, 450)

In [22]:
#No hay duplicados
data.duplicated().sum()

0

In [30]:
data.isna().sum()

_id                 0
Country/Region      0
Lat                 1
Long                1
1/22/20             0
                 ...
4/7/21              0
4/8/21              0
4/9/21              0
4/10/21             0
Province/State    189
Length: 450, dtype: int64

In [32]:
#Comprobamos que casi el 70% de los valores de Province/State son nulos por tanto los voy a eliminar porque tampoco aportan
#información valiosa al estudio por paises
(data.isna().sum()/data.shape[0])*100

_id                0.000000
Country/Region     0.000000
Lat                0.364964
Long               0.364964
1/22/20            0.000000
                    ...
4/7/21             0.000000
4/8/21             0.000000
4/9/21             0.000000
4/10/21            0.000000
Province/State    68.978102
Length: 450, dtype: float64

In [49]:
data = data.drop(columns=["Province/State"])

In [36]:
#A lo hora de hacer calculos interesa que los valores de contagios sean numeros y no strings por tanto hay que cambiar el type
data.dtypes

_id               object
Country/Region    object
Lat               object
Long              object
1/22/20           object
                   ...
4/6/21            object
4/7/21            object
4/8/21            object
4/9/21            object
4/10/21           object
Length: 449, dtype: object

In [50]:
data.columns

Index(['_id', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20',
       ...
       '4/1/21', '4/2/21', '4/3/21', '4/4/21', '4/5/21', '4/6/21', '4/7/21',
       '4/8/21', '4/9/21', '4/10/21'],
      dtype='object', length=449)

In [64]:
data.iloc[:,4]

0      0
1      0
2      0
3      0
4      0
      ..
269    0
270    0
271    0
272    0
273    0
Name: 1/22/20, Length: 274, dtype: object

In [73]:
for i in range(4,449):
    data.iloc[:,i] = data.iloc[:,4].apply(pd.to_numeric)

In [74]:
data.dtypes

_id               object
Country/Region    object
Lat               object
Long              object
1/22/20            int64
                   ...
4/6/21             int64
4/7/21             int64
4/8/21             int64
4/9/21             int64
4/10/21            int64
Length: 449, dtype: object

In [75]:
# Como hay varios países repetidos, deberíamos agrupar los valores
data["Country/Region"].value_counts()

China             33
Canada            16
France            12
United Kingdom    12
Australia          8
                  ..
Grenada            1
Guatemala          1
Guinea             1
Guinea-Bissau      1
Zimbabwe           1
Name: Country/Region, Length: 192, dtype: int64