# Ahora voy a realizar un webscrapping para conseguir datos sobre el covid en España por comunidades autónomas, casos, fallecidos, población y vacunados.

In [1]:
from pymongo import MongoClient
from bs4 import BeautifulSoup
from dotenv import load_dotenv
import pandas as pd
import requests
import os

In [2]:
url = "https://es.wikipedia.org/wiki/Pandemia_de_COVID-19_en_Espa%C3%B1a"
res = requests.get(url)
res

In [3]:
html = BeautifulSoup(res.text)

In [4]:
tabla = html.select("div > table.sortable")

In [5]:
incidencia = tabla[0]
vacunacion = tabla[1]

# Primero iremos con la incidencia

In [ ]:
incidencia.select("th")

In [7]:
column_name=[]
for i in range(1,5):
    column_name.append((incidencia.select("th")[i]).text)

In [8]:
column_name

['Comunidad autónoma\n',
 'Casos\n',
 'Fallecidos\n',
 'Población (2020)[104]\u200b\n']

In [9]:
for i in range(0,4):
    column_name[i] = column_name[i].replace("\n","").replace(" (2020)[104]\u200b","")

In [10]:
column_name

['Comunidad autónoma', 'Casos', 'Fallecidos', 'Población']

In [11]:
rows = incidencia.select("tr")[2:21]
len(rows)

19

In [ ]:
rows

In [13]:
rows = incidencia.select("tr")[2:21]
data_incidencia = [[i.get_text(strip=True) for i in row.select("th, td")] for row in rows]

In [ ]:
data_incidencia

In [15]:
data_incidencia = [[e.replace("\xa0","").replace(",",".") for e in a] for a in data_incidencia]

In [ ]:
data_incidencia

In [17]:
for datos in data_incidencia:
    datos.pop(5)
    datos.pop(4)

In [18]:
for datos in data_incidencia:
    for i in range(1,4):
        datos[i]=int(datos[i])

In [19]:
df_incidencia = pd.DataFrame(data_incidencia[:],columns=column_name)

In [ ]:
df_incidencia

# Ahora cogemos los datos de vacunación

In [ ]:
vacunacion

In [21]:
vacunacion.select("th")[6:15]

[<th>Pfizer
 </th>,
 <th>Moderna
 </th>,
 <th>AstraZeneca
 </th>,
 <th>Janssen
 </th>,
 <th>Total
 </th>,
 <th>Total
 </th>,
 <th>%
 </th>,
 <th>Total
 </th>,
 <th>%
 </th>]

In [22]:
column_name2=[]
for i in range(6,15):
    column_name2.append((vacunacion.select("th")[i]).text)

In [23]:
column_name2

['Pfizer\n',
 'Moderna\n',
 'AstraZeneca\n',
 'Janssen\n',
 'Total\n',
 'Total\n',
 '%\n',
 'Total\n',
 '%\n']

In [24]:
for i in range(0,9):
    column_name2[i] = column_name2[i].replace("\n","")

In [25]:
column_name2

['Pfizer',
 'Moderna',
 'AstraZeneca',
 'Janssen',
 'Total',
 'Total',
 '%',
 'Total',
 '%']

In [26]:
for i in range(0,4):
    column_name2[i] = column_name2[i] + " Entregadas"

In [27]:
column_name2[4] = column_name2[4] + " Dosis Entregadas"
column_name2[5] = column_name2[5] + " Dosis Administradas"
column_name2[6] = column_name2[6] + " Dosis Administradas"
column_name2[7] = column_name2[7] + " Pauta Completa"
column_name2[8] = column_name2[8] + " Pauta Completa"

In [28]:
rows2 = vacunacion.select("tr")[3:22]

In [29]:
data_vacunacion = [[i.get_text(strip=True) for i in row2.select("td")] for row2 in rows2]

In [ ]:
data_vacunacion

In [31]:
data_vacunacion = [[e.replace("\xa0","").replace(",",".").replace("%","") for e in a] for a in data_vacunacion]

In [ ]:
data_vacunacion

In [33]:
for datos in data_vacunacion:
    datos.pop(7)

In [34]:
for datos in data_vacunacion:
    for i in range(0,6):
        datos[i]=int(datos[i])

In [35]:
for datos in data_vacunacion:
    datos[6]=float(datos[6])
    datos[8]=float(datos[8])

In [36]:
for datos in data_vacunacion:
    datos[7]=int(datos[7])

In [37]:
df_vacunacion = pd.DataFrame(data_vacunacion[:],columns=column_name2)

In [38]:
df_vacunacion

,Pfizer Entregadas,Moderna Entregadas,AstraZeneca Entregadas,Janssen Entregadas,Total Dosis Entregadas,Total Dosis Administradas,% Dosis Administradas,Total Pauta Completa,% Pauta Completa
0,10486800,2119500,1537200,333500,14477000,14667274,101.3,6818248,80.55
1,1675761,368490,255200,63565,2363016,2333063,98.7,1059385,79.68
2,1447025,341040,220900,43000,2051965,2007765,97.8,868236,85.22
3,1318884,405070,225400,56420,2005774,1824148,90.9,859090,73.32
4,2503770,624700,455800,133650,3717920,3563107,95.8,1657257,76.16
5,844305,122900,125200,22200,1114605,1065615,95.6,481329,82.57
6,2531745,581270,382100,93735,3588850,3511588,97.8,1577632,77.13
7,3867399,611570,466170,97620,5042759,4592480,91.1,1987390,82.98
8,8569700,2654900,1514300,375750,13114650,12776998,97.4,5955250,76.54
9,97920,22270,18100,3935,142225,127976,90.0,60903,72.32
10,6256180,1543650,863900,213125,8876855,8746023,98.5,4051095,80.10
11,1464233,231770,185400,49265,1930668,1988004,103.0,889289,83.58
12,3874579,645000,573400,122700,5215679,5477891,105.0,2301193,85.17
13,8228535,1970800,1222100,321450,11742885,11264570,95.9,5298888,78.15
14,96750,23500,15100,5750,141100,120994,85.8,58065,66.68
15,1687865,498000,253010,68300,2507175,2547938,101.6,1179641,78.05
16,804525,176500,136600,23750,1141375,1160634,101.7,525627,79.49
17,2482920,642900,444200,101300,4031320,3958634,98.2,1796584,80.90
18,421265,91600,53240,15200,581305,567464,97.6,257935,80.62

In [39]:
column_name3 = ["Lat","Long"]

In [40]:
data_location = [[37.36,-5.98],[41.6563497,-0.8765662],[43.33,-5.83],[39.56,2.65],[28.15,-15.41],[43.45,-3.80],[39.8565,-4.025],
                 [41.63,-4.716],[41.3833,2.1666],[35.888,-5.3161],[39.47,-0.3766],[38.09,-6.3333],[42.8666,-8.55],[40.4333,-3.6833],
                 [35.2916,-2.9383],[37.98611,-1.13],[42.81677,-1.6333],[42.85,-2.68333],[42.45,-2.4333]]

In [41]:
df_location = pd.DataFrame(data_location[:],columns=column_name3)

In [42]:
df_location

         Lat       Long
0   37.36000  -5.980000
1   41.65635  -0.876566
2   43.33000  -5.830000
3   39.56000   2.650000
4   28.15000 -15.410000
5   43.45000  -3.800000
6   39.85650  -4.025000
7   41.63000  -4.716000
8   41.38330   2.166600
9   35.88800  -5.316100
10  39.47000  -0.376600
11  38.09000  -6.333300
12  42.86660  -8.550000
13  40.43330  -3.683300
14  35.29160  -2.938300
15  37.98611  -1.130000
16  42.81677  -1.633300
17  42.85000  -2.683330
18  42.45000  -2.433300

In [43]:
df_comunidades = pd.concat([df_incidencia,df_location,df_vacunacion],axis=1)

In [45]:
df_comunidades

,Comunidad autónoma,Casos,Fallecidos,Población,Lat,Long,Pfizer Entregadas,Moderna Entregadas,AstraZeneca Entregadas,Janssen Entregadas,Total Dosis Entregadas,Total Dosis Administradas,% Dosis Administradas,Total Pauta Completa,% Pauta Completa
0,Andalucía,920257,11466,8464411,37.36000,-5.980000,10486800,2119500,1537200,333500,14477000,14667274,101.3,6818248,80.55
1,Aragón,203113,4071,1329391,41.65635,-0.876566,1675761,368490,255200,63565,2363016,2333063,98.7,1059385,79.68
2,Asturias,91742,2148,1018784,43.33000,-5.830000,1447025,341040,220900,43000,2051965,2007765,97.8,868236,85.22
3,Islas Baleares,125553,1058,1171543,39.56000,2.650000,1318884,405070,225400,56420,2005774,1824148,90.9,859090,73.32
4,Islas Canarias,138988,1123,2175952,28.15000,-15.410000,2503770,624700,455800,133650,3717920,3563107,95.8,1657257,76.16
5,Cantabria,56938,624,582905,43.45000,-3.800000,844305,122900,125200,22200,1114605,1065615,95.6,481329,82.57
6,Castilla-La Mancha,272411,6578,2045221,39.85650,-4.025000,2531745,581270,382100,93735,3588850,3511588,97.8,1577632,77.13
7,Castilla y León,370553,7536,2394918,41.63000,-4.716000,3867399,611570,466170,97620,5042759,4592480,91.1,1987390,82.98
8,Cataluña,1101332,16093,7780479,41.38330,2.166600,8569700,2654900,1514300,375750,13114650,12776998,97.4,5955250,76.54
9,Ceuta,8986,131,84202,35.88800,-5.316100,97920,22270,18100,3935,142225,127976,90.0,60903,72.32
10,Comunidad Valenciana,612137,8017,5057353,39.47000,-0.376600,6256180,1543650,863900,213125,8876855,8746023,98.5,4051095,80.10
11,Extremadura,123955,2012,1063987,38.09000,-6.333300,1464233,231770,185400,49265,1930668,1988004,103.0,889289,83.58
12,Galicia,235145,2747,2701819,42.86660,-8.550000,3874579,645000,573400,122700,5215679,5477891,105.0,2301193,85.17
13,Comunidad de Madrid,1073745,16370,6779888,40.43330,-3.683300,8228535,1970800,1222100,321450,11742885,11264570,95.9,5298888,78.15
14,Melilla,12499,121,87076,35.29160,-2.938300,96750,23500,15100,5750,141100,120994,85.8,58065,66.68
15,Región de Murcia,172831,1814,1511251,37.98611,-1.130000,1687865,498000,253010,68300,2507175,2547938,101.6,1179641,78.05
16,Navarra,115366,1294,661197,42.81677,-1.633300,804525,176500,136600,23750,1141375,1160634,101.7,525627,79.49
17,País Vasco,346850,5156,2220504,42.85000,-2.683330,2482920,642900,444200,101300,4031320,3958634,98.2,1796584,80.90
18,La Rioja,49896,840,319914,42.45000,-2.433300,421265,91600,53240,15200,581305,567464,97.6,257935,80.62

In [46]:
lat_column = df_comunidades.pop("Lat")
long_column = df_comunidades.pop("Long")
df_comunidades.insert(1, "Lat", lat_column)
df_comunidades.insert(2, "Long", long_column)

In [47]:
df_comunidades

,Comunidad autónoma,Lat,Long,Casos,Fallecidos,Población,Pfizer Entregadas,Moderna Entregadas,AstraZeneca Entregadas,Janssen Entregadas,Total Dosis Entregadas,Total Dosis Administradas,% Dosis Administradas,Total Pauta Completa,% Pauta Completa
0,Andalucía,37.36000,-5.980000,920257,11466,8464411,10486800,2119500,1537200,333500,14477000,14667274,101.3,6818248,80.55
1,Aragón,41.65635,-0.876566,203113,4071,1329391,1675761,368490,255200,63565,2363016,2333063,98.7,1059385,79.68
2,Asturias,43.33000,-5.830000,91742,2148,1018784,1447025,341040,220900,43000,2051965,2007765,97.8,868236,85.22
3,Islas Baleares,39.56000,2.650000,125553,1058,1171543,1318884,405070,225400,56420,2005774,1824148,90.9,859090,73.32
4,Islas Canarias,28.15000,-15.410000,138988,1123,2175952,2503770,624700,455800,133650,3717920,3563107,95.8,1657257,76.16
5,Cantabria,43.45000,-3.800000,56938,624,582905,844305,122900,125200,22200,1114605,1065615,95.6,481329,82.57
6,Castilla-La Mancha,39.85650,-4.025000,272411,6578,2045221,2531745,581270,382100,93735,3588850,3511588,97.8,1577632,77.13
7,Castilla y León,41.63000,-4.716000,370553,7536,2394918,3867399,611570,466170,97620,5042759,4592480,91.1,1987390,82.98
8,Cataluña,41.38330,2.166600,1101332,16093,7780479,8569700,2654900,1514300,375750,13114650,12776998,97.4,5955250,76.54
9,Ceuta,35.88800,-5.316100,8986,131,84202,97920,22270,18100,3935,142225,127976,90.0,60903,72.32
10,Comunidad Valenciana,39.47000,-0.376600,612137,8017,5057353,6256180,1543650,863900,213125,8876855,8746023,98.5,4051095,80.10
11,Extremadura,38.09000,-6.333300,123955,2012,1063987,1464233,231770,185400,49265,1930668,1988004,103.0,889289,83.58
12,Galicia,42.86660,-8.550000,235145,2747,2701819,3874579,645000,573400,122700,5215679,5477891,105.0,2301193,85.17
13,Comunidad de Madrid,40.43330,-3.683300,1073745,16370,6779888,8228535,1970800,1222100,321450,11742885,11264570,95.9,5298888,78.15
14,Melilla,35.29160,-2.938300,12499,121,87076,96750,23500,15100,5750,141100,120994,85.8,58065,66.68
15,Región de Murcia,37.98611,-1.130000,172831,1814,1511251,1687865,498000,253010,68300,2507175,2547938,101.6,1179641,78.05
16,Navarra,42.81677,-1.633300,115366,1294,661197,804525,176500,136600,23750,1141375,1160634,101.7,525627,79.49
17,País Vasco,42.85000,-2.683330,346850,5156,2220504,2482920,642900,444200,101300,4031320,3958634,98.2,1796584,80.90
18,La Rioja,42.45000,-2.433300,49896,840,319914,421265,91600,53240,15200,581305,567464,97.6,257935,80.62

In [ ]:
data_checked = df_comunidades.to_dict("records")
data_checked

In [49]:
load_dotenv()
username=os.getenv("MONGO_USER")
password=os.getenv("MONGO_PASS")

In [50]:
url = f"mongodb+srv://{username}:{password}@cluster0.gnfmn.mongodb.net"

In [51]:
client = MongoClient(url)

In [52]:
db = client.get_database("Covid")

In [53]:
covid_comunidades = db["Covid_Comunidades"]

In [54]:
for i in data_checked:
    covid_comunidades.insert_one(i)