# En este archivo voy a proceder a limpiar y corregir los datos, así como de añadir nuevos que aporten valor al análisis.

# Empezamos con la colección de los casos

In [1]:
from pymongo import MongoClient
from dotenv import load_dotenv
import pandas as pd
import os

In [2]:
load_dotenv()
username=os.getenv("MONGO_USER")
password=os.getenv("MONGO_PASS")

In [3]:
url = f"mongodb+srv://{username}:{password}@cluster0.gnfmn.mongodb.net"

In [4]:
client = MongoClient(url)

In [5]:
db = client.get_database("Covid")

In [6]:
covid_cases = db["Covid_Cases"]

In [7]:
data = pd.DataFrame(covid_cases.find({}))

In [8]:
data.head()

,_id,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21,Province/State
0,61c9dcc250d5b7208c17eaf9,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,117429,117524,117622,117739,117879,118004,118116,118251,118378,NaN
1,61c9dcc250d5b7208c17eb01,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,111,112,112,112,112,112,112,112,112,Northern Territory
2,61c9dcc250d5b7208c17eafa,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,12115,12174,12231,12286,12328,12363,12409,12456,12497,NaN
3,61c9dcc250d5b7208c17eafb,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,22467,22579,22631,22717,22885,23010,23108,23242,23331,NaN
4,61c9dcc250d5b7208c17eafc,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,1152,1170,1170,1173,1173,1177,1180,1182,1197,NaN

In [9]:
#250 countries
data.shape

(274, 450)

In [10]:
#No hay duplicados
data.duplicated().sum()

0

In [11]:
data.isna().sum()

_id                 0
Country/Region      0
Lat                 1
Long                1
1/22/20             0
                 ...
4/7/21              0
4/8/21              0
4/9/21              0
4/10/21             0
Province/State    189
Length: 450, dtype: int64

In [12]:
#Comprobamos que casi el 70% de los valores de Province/State son nulos por tanto los voy a eliminar porque tampoco aportan
#información valiosa al estudio por paises
(data.isna().sum()/data.shape[0])*100

_id                0.000000
Country/Region     0.000000
Lat                0.364964
Long               0.364964
1/22/20            0.000000
                    ...
4/7/21             0.000000
4/8/21             0.000000
4/9/21             0.000000
4/10/21            0.000000
Province/State    68.978102
Length: 450, dtype: float64

In [13]:
data = data.drop(columns=["Province/State"])

In [14]:
#La columna id tampoco es necesaria asi que la elimino también
data = data.drop(columns=["_id"])

In [15]:
#A lo hora de hacer calculos interesa que los valores de contagios sean numeros y no strings por tanto hay que cambiar el type
data.dtypes

Country/Region    object
Lat               object
Long              object
1/22/20           object
1/23/20           object
                   ...
4/6/21            object
4/7/21            object
4/8/21            object
4/9/21            object
4/10/21           object
Length: 448, dtype: object

In [16]:
data.columns

Index(['Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20', '1/28/20',
       ...
       '4/1/21', '4/2/21', '4/3/21', '4/4/21', '4/5/21', '4/6/21', '4/7/21',
       '4/8/21', '4/9/21', '4/10/21'],
      dtype='object', length=448)

In [17]:
data.iloc[:,3]

0      0
1      0
2      0
3      0
4      0
      ..
269    0
270    0
271    0
272    0
273    0
Name: 1/22/20, Length: 274, dtype: object

In [18]:
for i in range(3,448):
    data.iloc[:,i] = data.iloc[:,i].apply(pd.to_numeric)

In [19]:
data.dtypes

Country/Region    object
Lat               object
Long              object
1/22/20            int64
1/23/20            int64
                   ...
4/6/21             int64
4/7/21             int64
4/8/21             int64
4/9/21             int64
4/10/21            int64
Length: 448, dtype: object

In [20]:
# Como hay varios países repetidos, deberíamos agrupar los valores de casos para tener solo una fila por país. Hay siete países
#con más de dos filas
(data["Country/Region"].value_counts() > 1).sum()

7

In [21]:
data["Country/Region"].value_counts().iloc[:7]

China             33
Canada            16
United Kingdom    12
France            12
Australia          8
Netherlands        5
Denmark            3
Name: Country/Region, dtype: int64

In [22]:
# Los países repetidos son China, Canada, France, United Kingdom, Australia, Netherlands and Denmark.
data.head()

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
0,Algeria,28.0339,1.6596,0,0,0,0,0,0,0,...,117304,117429,117524,117622,117739,117879,118004,118116,118251,118378
1,Australia,-12.4634,130.8456,0,0,0,0,0,0,0,...,109,111,112,112,112,112,112,112,112,112
2,Andorra,42.5063,1.5218,0,0,0,0,0,0,0,...,12053,12115,12174,12231,12286,12328,12363,12409,12456,12497
3,Angola,-11.2027,17.8739,0,0,0,0,0,0,0,...,22399,22467,22579,22631,22717,22885,23010,23108,23242,23331
4,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,0,...,1147,1152,1170,1170,1173,1173,1177,1180,1182,1197

In [218]:
data.loc[data["Country/Region"] == "Denmark"]

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
76,Denmark,61.8926,-6.9118,0,0,0,0,0,0,0,...,661,661,661,661,661,661,661,661,661,661
102,Denmark,56.2639,9.5018,0,0,0,0,0,0,0,...,231265,231973,232718,233318,233797,234317,234931,235648,236346,237101
138,Denmark,71.7069,-42.6043,0,0,0,0,0,0,0,...,31,31,31,31,31,31,31,31,31,31

In [170]:
data.loc[data["Country/Region"] == "Denmark"].iloc[:,447].sum()

237793

In [171]:
data.loc[data["Country/Region"] == "Denmark"].iloc[0:1,3]

76    0
Name: 1/22/20, dtype: int64

In [172]:
data.loc[data["Country/Region"] == "Denmark"].iloc[:,3]

76     0
102    0
138    0
Name: 1/22/20, dtype: int64

In [173]:
#Denmark 61.8926 -6.9118
#Netherlands 12.5211 -69.9683
#Australia -35.4735 149.0124
#United Kingdom 18.2206 -63.0686
#France 46.2276 2.2137
#Canada 51.2538 -85.3232
#China 30.9756 112.2707

In [23]:
# Aqui agrupo las filas por pais y cada columna con los casos totales
data_cleanish = data.groupby("Country/Region",as_index=False).sum()

In [220]:
data_cleanish.loc[data_cleanish["Country/Region"] == "Denmark"]

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
47,Denmark,0,0,0,0,0,0,0,0,0,...,231957,232665,233410,234010,234489,235009,235623,236340,237038,237793

In [24]:
data_cleanish

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,56517,56572,56595,56676,56717,56779,56873,56943,57019,57144
1,Albania,0,0,0,0,0,0,0,0,0,...,125506,125842,126183,126531,126795,126936,127192,127509,127795,128155
2,Algeria,0,0,0,0,0,0,0,0,0,...,117304,117429,117524,117622,117739,117879,118004,118116,118251,118378
3,Andorra,0,0,0,0,0,0,0,0,0,...,12053,12115,12174,12231,12286,12328,12363,12409,12456,12497
4,Angola,0,0,0,0,0,0,0,0,0,...,22399,22467,22579,22631,22717,22885,23010,23108,23242,23331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Vietnam,0,2,2,2,2,2,2,2,2,...,2617,2620,2626,2631,2637,2648,2659,2668,2683,2692
188,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,244645,246893,248482,251288,253922,256461,259133,262017,264395,265897
189,Yemen,0,0,0,0,0,0,0,0,0,...,4531,4620,4697,4798,4881,4975,5047,5133,5233,5276
190,Zambia,0,0,0,0,0,0,0,0,0,...,88549,88730,88800,88930,89009,89071,89386,89592,89783,89918
191,Zimbabwe,0,0,0,0,0,0,0,0,0,...,36896,36903,36911,36923,36934,36966,36984,37052,37147,37273

In [23]:
data_aux = data

In [24]:
data_aux = data_aux.sort_values(by=["Country/Region"], ignore_index=True)

In [25]:
data_aux

,_id,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21,Province/State
0,61c9dcc250d5b7208c17eaf7,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,56572,56595,56676,56717,56779,56873,56943,57019,57144,NaN
1,61c9dcc250d5b7208c17eaf8,Albania,41.1533,20.1683,0,0,0,0,0,0,...,125842,126183,126531,126795,126936,127192,127509,127795,128155,NaN
2,61c9dcc250d5b7208c17eaf9,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,117429,117524,117622,117739,117879,118004,118116,118251,118378,NaN
3,61c9dcc250d5b7208c17eafa,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,12115,12174,12231,12286,12328,12363,12409,12456,12497,NaN
4,61c9dcc250d5b7208c17eafb,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,22467,22579,22631,22717,22885,23010,23108,23242,23331,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,61c9dcc250d5b7208c17ec04,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,2620,2626,2631,2637,2648,2659,2668,2683,2692,NaN
270,61c9dcc250d5b7208c17ec05,West Bank and Gaza,31.9522,35.2332,0,0,0,0,0,0,...,246893,248482,251288,253922,256461,259133,262017,264395,265897,NaN
271,61c9dcc250d5b7208c17ec06,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,4620,4697,4798,4881,4975,5047,5133,5233,5276,NaN
272,61c9dcc250d5b7208c17ec07,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,88730,88800,88930,89009,89071,89386,89592,89783,89918,NaN
273,61c9dcc250d5b7208c17ec08,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,36903,36911,36923,36934,36966,36984,37052,37147,37273,NaN

In [26]:
data_aux.loc[data_aux["Country/Region"] == "Australia"]

,_id,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21,Province/State
8,61c9dcc250d5b7208c17eb01,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,111,112,112,112,112,112,112,112,112,Northern Territory
9,61c9dcc250d5b7208c17eaff,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,123,123,123,123,123,123,123,123,123,Australian Capital Territory
10,61c9dcc250d5b7208c17eb02,Australia,-27.4698,153.0251,0,0,0,0,0,0,...,1488,1489,1492,1491,1497,1500,1501,1502,1502,Queensland
11,61c9dcc250d5b7208c17eb03,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,658,659,661,661,662,663,665,665,666,South Australia
12,61c9dcc250d5b7208c17eb05,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,20484,20484,20484,20484,20484,20484,20484,20485,20485,Victoria
13,61c9dcc250d5b7208c17eb00,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,5299,5300,5303,5310,5316,5318,5320,5324,5330,New South Wales
14,61c9dcc250d5b7208c17eb06,Australia,-31.9505,115.8605,0,0,0,0,0,0,...,944,947,948,950,951,951,951,951,953,Western Australia
15,61c9dcc250d5b7208c17eb04,Australia,-42.8821,147.3272,0,0,0,0,0,0,...,234,234,234,234,234,234,234,234,234,Tasmania

In [27]:
#Para las lat y lon, voy a eliminar las filas extra de cada país y me voy a quedar con las coordenadas donde mas casos haya.
#United Kingdom
for i in range(253,264):
    data_aux = data_aux.drop(index=i)

In [28]:
#Netherlands
for i in range(191,195):
    data_aux = data_aux.drop(index=i)

In [29]:
#France
for i in range(118,129):
    data_aux = data_aux.drop(index=i)

In [30]:
#Denmark
for i in range(102,104):
    data_aux = data_aux.drop(index=i)

In [31]:
#China
for i in range(58,90):
    data_aux = data_aux.drop(index=i)

In [32]:
#Canada
for i in range(39,54):
    data_aux = data_aux.drop(index=i)

In [33]:
#Australia
for i in range(8,15):
    data_aux = data_aux.drop(index=i)

In [34]:
data_aux = data_aux.reset_index(drop=True)

In [39]:
for i in range(2,4):
    data_aux.iloc[:,i] = data_aux.iloc[:,i].apply(pd.to_numeric)

In [40]:
data_aux.dtypes

_id                object
Country/Region     object
Lat               float64
Long              float64
1/22/20            object
                   ...
4/7/21             object
4/8/21             object
4/9/21             object
4/10/21            object
Province/State     object
Length: 450, dtype: object

In [41]:
#aqui creo la df para solo coordenadas
data_location = pd.DataFrame()
data_location["Country/Region"]=data_aux["Country/Region"]
data_location["Lat"]=data_aux["Lat"]
data_location["Long"]=data_aux["Long"]
data_location

         Country/Region        Lat        Long
0           Afghanistan  33.939110   67.709953
1               Albania  41.153300   20.168300
2               Algeria  28.033900    1.659600
3               Andorra  42.506300    1.521800
4                Angola -11.202700   17.873900
..                  ...        ...         ...
187             Vietnam  14.058324  108.277199
188  West Bank and Gaza  31.952200   35.233200
189               Yemen  15.552727   48.516388
190              Zambia -13.133897   27.849332
191            Zimbabwe -19.015438   29.154857

[192 rows x 3 columns]

In [ ]:
data_checked4 = data_location.to_dict("records")
data_checked4

In [43]:
covid_location = db["Covid_Location"]
for i in data_checked4:
    covid_location.insert_one(i)

In [195]:
#Ahora añado lat y lon de data_aux a data_cleanish
data_cleanish["Lat"] = data_aux["Lat"]
data_cleanish["Long"] = data_aux["Long"]

In [25]:
data_cleanish

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,56517,56572,56595,56676,56717,56779,56873,56943,57019,57144
1,Albania,0,0,0,0,0,0,0,0,0,...,125506,125842,126183,126531,126795,126936,127192,127509,127795,128155
2,Algeria,0,0,0,0,0,0,0,0,0,...,117304,117429,117524,117622,117739,117879,118004,118116,118251,118378
3,Andorra,0,0,0,0,0,0,0,0,0,...,12053,12115,12174,12231,12286,12328,12363,12409,12456,12497
4,Angola,0,0,0,0,0,0,0,0,0,...,22399,22467,22579,22631,22717,22885,23010,23108,23242,23331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Vietnam,0,2,2,2,2,2,2,2,2,...,2617,2620,2626,2631,2637,2648,2659,2668,2683,2692
188,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,244645,246893,248482,251288,253922,256461,259133,262017,264395,265897
189,Yemen,0,0,0,0,0,0,0,0,0,...,4531,4620,4697,4798,4881,4975,5047,5133,5233,5276
190,Zambia,0,0,0,0,0,0,0,0,0,...,88549,88730,88800,88930,89009,89071,89386,89592,89783,89918
191,Zimbabwe,0,0,0,0,0,0,0,0,0,...,36896,36903,36911,36923,36934,36966,36984,37052,37147,37273

In [197]:
lat_column = data_cleanish.pop("Lat")
long_column = data_cleanish.pop("Long")

In [198]:
data_cleanish.insert(1, "Lat", lat_column)
data_cleanish.insert(2, "Long", long_column)

In [199]:
data_cleanish.loc[data_cleanish["Country/Region"] == "Australia"]

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
8,Australia,4.5353,114.7277,0,0,0,0,4,5,5,...,29333,29341,29348,29357,29365,29379,29385,29390,29396,29405

In [200]:
data_cleanish

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
0,Afghanistan,28.0339,1.6596,0,0,0,0,0,0,0,...,56517,56572,56595,56676,56717,56779,56873,56943,57019,57144
1,Albania,-12.4634,130.8456,0,0,0,0,0,0,0,...,125506,125842,126183,126531,126795,126936,127192,127509,127795,128155
2,Algeria,42.5063,1.5218,0,0,0,0,0,0,0,...,117304,117429,117524,117622,117739,117879,118004,118116,118251,118378
3,Andorra,-11.2027,17.8739,0,0,0,0,0,0,0,...,12053,12115,12174,12231,12286,12328,12363,12409,12456,12497
4,Angola,17.0608,-61.7964,0,0,0,0,0,0,0,...,22399,22467,22579,22631,22717,22885,23010,23108,23242,23331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Vietnam,38.9637,35.2433,0,2,2,2,2,2,2,...,2617,2620,2626,2631,2637,2648,2659,2668,2683,2692
188,West Bank and Gaza,23.424076,53.847818,0,0,0,0,0,0,0,...,244645,246893,248482,251288,253922,256461,259133,262017,264395,265897
189,Yemen,-51.7963,-59.5236,0,0,0,0,0,0,0,...,4531,4620,4697,4798,4881,4975,5047,5133,5233,5276
190,Zambia,-7.9467,-14.3559,0,0,0,0,0,0,0,...,88549,88730,88800,88930,89009,89071,89386,89592,89783,89918
191,Zimbabwe,14.058324,108.277199,0,0,0,0,0,0,0,...,36896,36903,36911,36923,36934,36966,36984,37052,37147,37273

In [ ]:
data_cleanish.pop("Lat")
data_cleanish.pop("Long")

In [26]:
data_cleanish

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,56517,56572,56595,56676,56717,56779,56873,56943,57019,57144
1,Albania,0,0,0,0,0,0,0,0,0,...,125506,125842,126183,126531,126795,126936,127192,127509,127795,128155
2,Algeria,0,0,0,0,0,0,0,0,0,...,117304,117429,117524,117622,117739,117879,118004,118116,118251,118378
3,Andorra,0,0,0,0,0,0,0,0,0,...,12053,12115,12174,12231,12286,12328,12363,12409,12456,12497
4,Angola,0,0,0,0,0,0,0,0,0,...,22399,22467,22579,22631,22717,22885,23010,23108,23242,23331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Vietnam,0,2,2,2,2,2,2,2,2,...,2617,2620,2626,2631,2637,2648,2659,2668,2683,2692
188,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,244645,246893,248482,251288,253922,256461,259133,262017,264395,265897
189,Yemen,0,0,0,0,0,0,0,0,0,...,4531,4620,4697,4798,4881,4975,5047,5133,5233,5276
190,Zambia,0,0,0,0,0,0,0,0,0,...,88549,88730,88800,88930,89009,89071,89386,89592,89783,89918
191,Zimbabwe,0,0,0,0,0,0,0,0,0,...,36896,36903,36911,36923,36934,36966,36984,37052,37147,37273

In [27]:
data_clean = pd.melt(data_cleanish, id_vars=["Country/Region"],var_name="Date",value_name="Cases")

In [28]:
data_clean

           Country/Region     Date   Cases
0             Afghanistan  1/22/20       0
1                 Albania  1/22/20       0
2                 Algeria  1/22/20       0
3                 Andorra  1/22/20       0
4                  Angola  1/22/20       0
...                   ...      ...     ...
85435             Vietnam  4/10/21    2692
85436  West Bank and Gaza  4/10/21  265897
85437               Yemen  4/10/21    5276
85438              Zambia  4/10/21   89918
85439            Zimbabwe  4/10/21   37273

[85440 rows x 3 columns]

# Ahora seguimos con las muertes

In [29]:
covid_deaths = db["Covid_Deaths"]

In [30]:
data2 = pd.DataFrame(covid_deaths.find({}))

In [31]:
data2.head()

,_id,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21,Province/State
0,61c9ddde50d5b7208c17ec0b,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2495,2496,2497,2508,2512,2512,2516,2521,2521,NaN
1,61c9ddde50d5b7208c17ec10,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,28,28,28,29,29,29,29,30,30,NaN
2,61c9ddde50d5b7208c17ec0d,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,3099,3102,3105,3108,3112,3116,3119,3123,3126,NaN
3,61c9ddde50d5b7208c17ec0e,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,116,117,117,117,117,119,120,120,120,NaN
4,61c9ddde50d5b7208c17ec0f,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,538,540,542,543,547,547,549,549,550,NaN

In [32]:
data2.shape

(274, 450)

In [33]:
data2 = data2.drop(columns=["Province/State"])
data2= data2.drop(columns=["_id"])

In [34]:
for i in range(3,448):
    data2.iloc[:,i] = data2.iloc[:,i].apply(pd.to_numeric)

In [35]:
data2.dtypes

Country/Region    object
Lat               object
Long              object
1/22/20            int64
1/23/20            int64
                   ...
4/6/21             int64
4/7/21             int64
4/8/21             int64
4/9/21             int64
4/10/21            int64
Length: 448, dtype: object

In [36]:
data2["Country/Region"].value_counts().iloc[:7]

China             33
Canada            16
France            12
United Kingdom    12
Australia          8
Netherlands        5
Denmark            3
Name: Country/Region, dtype: int64

In [37]:
data_cleanish2 = data2.groupby("Country/Region",as_index=False).sum()

In [73]:
data_aux2= data2

In [74]:
for i in range(253,264):
    data_aux2 = data_aux2.drop(index=i)

In [75]:
for i in range(191,195):
    data_aux2 = data_aux2.drop(index=i)

In [76]:
for i in range(118,129):
    data_aux2 = data_aux2.drop(index=i)

In [77]:
for i in range(101,103):
    data_aux2 = data_aux2.drop(index=i)

In [78]:
for i in range(58,71):
    data_aux2 = data_aux2.drop(index=i)
for i in range(72,91):
    data_aux2 = data_aux2.drop(index=i)
for i in range(39,49):
    data_aux2 = data_aux2.drop(index=i)
for i in range(50,55):
    data_aux2 = data_aux2.drop(index=i)
for i in range(8,14):
    data_aux2 = data_aux2.drop(index=i)
data_aux2 = data_aux2.drop(index=15)

In [79]:
data_aux2 = data_aux2.reset_index(drop=True)

In [80]:
data_cleanish2["Lat"] = data_aux2["Lat"]
data_cleanish2["Long"] = data_aux2["Long"]

In [81]:
lat_column2 = data_cleanish2.pop("Lat")
long_column2 = data_cleanish2.pop("Long")
data_cleanish2.insert(1, "Lat", lat_column2)
data_cleanish2.insert(2, "Long", long_column2)

In [38]:
data_cleanish2

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,2489,2495,2496,2497,2508,2512,2512,2516,2521,2521
1,Albania,0,0,0,0,0,0,0,0,0,...,2241,2247,2256,2265,2274,2283,2291,2297,2304,2310
2,Algeria,0,0,0,0,0,0,0,0,0,...,3096,3099,3102,3105,3108,3112,3116,3119,3123,3126
3,Andorra,0,0,0,0,0,0,0,0,0,...,115,116,117,117,117,117,119,120,120,120
4,Angola,0,0,0,0,0,0,0,0,0,...,538,538,540,542,543,547,547,549,549,550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Vietnam,0,0,0,0,0,0,0,0,0,...,35,35,35,35,35,35,35,35,35,35
188,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,2645,2661,2681,2706,2716,2735,2753,2781,2812,2838
189,Yemen,0,0,0,0,0,0,0,0,0,...,906,916,932,946,955,976,986,1004,1022,1031
190,Zambia,0,0,0,0,0,0,0,0,0,...,1212,1215,1215,1220,1222,1224,1224,1225,1226,1226
191,Zimbabwe,0,0,0,0,0,0,0,0,0,...,1523,1524,1524,1525,1525,1531,1531,1532,1535,1538

In [83]:
data_cleanish2.pop("Lat")
data_cleanish2.pop("Long")

0       67.709953
1      -61.796400
2        1.659600
3        1.521800
4       17.873900
          ...
187     -4.548100
188    -14.355900
189    108.277199
190     35.233200
191     27.849332
Name: Long, Length: 192, dtype: float64

In [39]:
data_cleanish2

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,2489,2495,2496,2497,2508,2512,2512,2516,2521,2521
1,Albania,0,0,0,0,0,0,0,0,0,...,2241,2247,2256,2265,2274,2283,2291,2297,2304,2310
2,Algeria,0,0,0,0,0,0,0,0,0,...,3096,3099,3102,3105,3108,3112,3116,3119,3123,3126
3,Andorra,0,0,0,0,0,0,0,0,0,...,115,116,117,117,117,117,119,120,120,120
4,Angola,0,0,0,0,0,0,0,0,0,...,538,538,540,542,543,547,547,549,549,550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Vietnam,0,0,0,0,0,0,0,0,0,...,35,35,35,35,35,35,35,35,35,35
188,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,2645,2661,2681,2706,2716,2735,2753,2781,2812,2838
189,Yemen,0,0,0,0,0,0,0,0,0,...,906,916,932,946,955,976,986,1004,1022,1031
190,Zambia,0,0,0,0,0,0,0,0,0,...,1212,1215,1215,1220,1222,1224,1224,1225,1226,1226
191,Zimbabwe,0,0,0,0,0,0,0,0,0,...,1523,1524,1524,1525,1525,1531,1531,1532,1535,1538

In [40]:
data_clean2 = pd.melt(data_cleanish2, id_vars=["Country/Region"],var_name="Date",value_name="Deaths")

In [41]:
data_clean2

           Country/Region     Date  Deaths
0             Afghanistan  1/22/20       0
1                 Albania  1/22/20       0
2                 Algeria  1/22/20       0
3                 Andorra  1/22/20       0
4                  Angola  1/22/20       0
...                   ...      ...     ...
85435             Vietnam  4/10/21      35
85436  West Bank and Gaza  4/10/21    2838
85437               Yemen  4/10/21    1031
85438              Zambia  4/10/21    1226
85439            Zimbabwe  4/10/21    1538

[85440 rows x 3 columns]

# Por último los datos de recuperados

In [42]:
covid_recovered = db["Covid_Recovered"]

In [43]:
data3 = pd.DataFrame(covid_recovered.find({}))

In [44]:
data3.head()

,_id,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21,Province/State
0,61c9de0350d5b7208c17ed20,Albania,41.1533,20.1683,0,0,0,0,0,0,...,92500,93173,93842,94431,95035,95600,96129,96672,97206,NaN
1,61c9de0350d5b7208c17ed23,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,20867,20871,20879,21452,21489,21545,21557,21589,21890,NaN
2,61c9de0350d5b7208c17ed25,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,...,2121954,2130640,2140480,2153509,2164045,2174625,2188983,2203926,2217783,NaN
3,61c9de0350d5b7208c17ed29,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,106,106,106,106,106,106,107,107,107,Northern Territory
4,61c9de0350d5b7208c17ed2d,Australia,-37.8136,144.9631,0,0,0,0,0,0,...,19663,19663,19663,19663,19663,19664,19664,19664,19664,Victoria

In [45]:
data3.shape

(259, 450)

In [46]:
data3 = data3.drop(columns=["Province/State"])
data3= data3.drop(columns=["_id"])

In [47]:
for i in range(3,448):
    data3.iloc[:,i] = data3.iloc[:,i].apply(pd.to_numeric)

In [48]:
data3.dtypes

Country/Region    object
Lat               object
Long              object
1/22/20            int64
1/23/20            int64
                   ...
4/6/21             int64
4/7/21             int64
4/8/21             int64
4/9/21             int64
4/10/21            int64
Length: 448, dtype: object

In [49]:
data3["Country/Region"].value_counts().iloc[:6]

China             33
United Kingdom    12
France            12
Australia          8
Netherlands        5
Denmark            3
Name: Country/Region, dtype: int64

In [50]:
data_cleanish3 = data3.groupby("Country/Region",as_index=False).sum()

In [67]:
data3.loc[data3["Country/Region"] == "Australia"]

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
3,Australia,-12.4634,130.8456,0,0,0,0,0,0,0,...,106,106,106,106,106,106,106,107,107,107
4,Australia,-37.8136,144.9631,0,0,0,0,0,0,0,...,19663,19663,19663,19663,19663,19663,19664,19664,19664,19664
5,Australia,-31.9505,115.8605,0,0,0,0,0,0,0,...,919,921,922,925,923,924,928,932,933,933
26,Australia,-27.4698,153.0251,0,0,0,0,0,0,0,...,1344,1353,1353,1353,1366,1366,1366,1376,1381,1381
27,Australia,-42.8821,147.3272,0,0,0,0,0,0,0,...,221,221,221,221,221,221,221,221,221,221
55,Australia,-34.9285,138.6007,0,0,0,0,0,0,0,...,641,641,642,644,649,649,651,651,654,657
78,Australia,-35.4735,149.0124,0,0,0,0,0,0,0,...,120,120,120,120,120,120,120,120,120,120
79,Australia,-33.8688,151.2093,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
data_aux3= data3

In [69]:
for i in range(238,249):
    data_aux3 = data_aux3.drop(index=i)

In [70]:
for i in range(176,180):
    data_aux3 = data_aux3.drop(index=i)

In [71]:
for i in range(103,114):
    data_aux3 = data_aux3.drop(index=i)

In [72]:
for i in range(86,88):
    data_aux3 = data_aux3.drop(index=i)

In [73]:
for i in range(43,56):
    data_aux3 = data_aux3.drop(index=i)

In [74]:
for i in range(57,76):
    data_aux3 = data_aux3.drop(index=i)

In [75]:
for i in range(8,14):
    data_aux3 = data_aux3.drop(index=i)

In [76]:
data_aux3 = data_aux3.drop(index=15)

In [77]:
data_aux3 = data_aux3.reset_index(drop=True)

In [78]:
data_cleanish3["Lat"] = data_aux3["Lat"]
data_cleanish3["Long"] = data_aux3["Long"]

In [80]:
lat_column3 = data_cleanish3.pop("Lat")
long_column3 = data_cleanish3.pop("Long")
data_cleanish3.insert(1, "Lat", lat_column3)
data_cleanish3.insert(2, "Long", long_column3)

In [51]:
data_cleanish3

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,51788,51798,51802,51885,51902,51928,51940,51956,51961,51962
1,Albania,0,0,0,0,0,0,0,0,0,...,91875,92500,93173,93842,94431,95035,95600,96129,96672,97206
2,Algeria,0,0,0,0,0,0,0,0,0,...,81632,81729,81813,81896,81994,82096,82192,82289,82392,82493
3,Andorra,0,0,0,0,0,0,0,0,0,...,11365,11401,11428,11474,11523,11570,11616,11692,11732,11770
4,Angola,0,0,0,0,0,0,0,0,0,...,20508,20867,20871,20879,21452,21489,21545,21557,21589,21890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Vietnam,0,0,0,0,0,0,0,0,0,...,2359,2383,2383,2383,2416,2422,2429,2429,2429,2429
188,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,217224,217224,220418,222007,223249,224552,226090,227988,229876,231288
189,Yemen,0,0,0,0,0,0,0,0,0,...,1682,1691,1715,1738,1772,1822,1886,1946,1987,2027
190,Zambia,0,0,0,0,0,0,0,0,0,...,84698,84825,85017,85068,85178,85338,85409,85446,85559,86813
191,Zimbabwe,0,0,0,0,0,0,0,0,0,...,34698,34708,34732,34748,34758,34781,34803,34814,34831,34862

In [83]:
data_location = pd.DataFrame()
data_location["Country/Region"]=data_cleanish3["Country/Region"]
data_location["Lat"]=data_cleanish3["Lat"]
data_location["Long"]=data_cleanish3["Long"]

In [84]:
data_cleanish3.pop("Lat")
data_cleanish3.pop("Long")

0       20.168300
1       17.873900
2      -63.616700
3      130.845600
4      144.963100
          ...
187     -2.364400
188     -4.548100
189    -62.187366
190     -3.436000
191    166.959200
Name: Long, Length: 192, dtype: float64

In [52]:
data_cleanish3

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,51788,51798,51802,51885,51902,51928,51940,51956,51961,51962
1,Albania,0,0,0,0,0,0,0,0,0,...,91875,92500,93173,93842,94431,95035,95600,96129,96672,97206
2,Algeria,0,0,0,0,0,0,0,0,0,...,81632,81729,81813,81896,81994,82096,82192,82289,82392,82493
3,Andorra,0,0,0,0,0,0,0,0,0,...,11365,11401,11428,11474,11523,11570,11616,11692,11732,11770
4,Angola,0,0,0,0,0,0,0,0,0,...,20508,20867,20871,20879,21452,21489,21545,21557,21589,21890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Vietnam,0,0,0,0,0,0,0,0,0,...,2359,2383,2383,2383,2416,2422,2429,2429,2429,2429
188,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,217224,217224,220418,222007,223249,224552,226090,227988,229876,231288
189,Yemen,0,0,0,0,0,0,0,0,0,...,1682,1691,1715,1738,1772,1822,1886,1946,1987,2027
190,Zambia,0,0,0,0,0,0,0,0,0,...,84698,84825,85017,85068,85178,85338,85409,85446,85559,86813
191,Zimbabwe,0,0,0,0,0,0,0,0,0,...,34698,34708,34732,34748,34758,34781,34803,34814,34831,34862

In [53]:
data_clean3 = pd.melt(data_cleanish3, id_vars=["Country/Region"],var_name="Date",value_name="Recovered")

In [54]:
data_clean3

           Country/Region     Date  Recovered
0             Afghanistan  1/22/20          0
1                 Albania  1/22/20          0
2                 Algeria  1/22/20          0
3                 Andorra  1/22/20          0
4                  Angola  1/22/20          0
...                   ...      ...        ...
85435             Vietnam  4/10/21       2429
85436  West Bank and Gaza  4/10/21     231288
85437               Yemen  4/10/21       2027
85438              Zambia  4/10/21      86813
85439            Zimbabwe  4/10/21      34862

[85440 rows x 3 columns]

In [58]:
data_clean["Deaths"] = data_clean2["Deaths"]
data_clean["Recovered"] = data_clean3["Recovered"]

In [63]:
data_clean

           Country/Region     Date   Cases  Deaths  Recovered
0             Afghanistan  1/22/20       0       0          0
1                 Albania  1/22/20       0       0          0
2                 Algeria  1/22/20       0       0          0
3                 Andorra  1/22/20       0       0          0
4                  Angola  1/22/20       0       0          0
...                   ...      ...     ...     ...        ...
85435             Vietnam  4/10/21    2692      35       2429
85436  West Bank and Gaza  4/10/21  265897    2838     231288
85437               Yemen  4/10/21    5276    1031       2027
85438              Zambia  4/10/21   89918    1226      86813
85439            Zimbabwe  4/10/21   37273    1538      34862

[85440 rows x 5 columns]

In [64]:
data_clean_ok = data_clean

In [69]:
data_clean_ok["Date"] = pd.to_datetime(data_clean_ok["Date"], format="%m/%d/%y")

In [70]:
data_clean_ok

           Country/Region       Date   Cases  Deaths  Recovered
0             Afghanistan 2020-01-22       0       0          0
1                 Albania 2020-01-22       0       0          0
2                 Algeria 2020-01-22       0       0          0
3                 Andorra 2020-01-22       0       0          0
4                  Angola 2020-01-22       0       0          0
...                   ...        ...     ...     ...        ...
85435             Vietnam 2021-04-10    2692      35       2429
85436  West Bank and Gaza 2021-04-10  265897    2838     231288
85437               Yemen 2021-04-10    5276    1031       2027
85438              Zambia 2021-04-10   89918    1226      86813
85439            Zimbabwe 2021-04-10   37273    1538      34862

[85440 rows x 5 columns]

# Ahora que está todo en un dataframe subimos como colección

In [ ]:
data_ok = data_clean_ok.to_dict("records")
data_ok

In [73]:
covid_ok = db["Covid_Data"]

In [74]:
for i in data_ok:
    covid_ok.insert_one(i)